.header__search
    display: flex;
    align-items: center;
    
    &--form
        border-radius: 10px
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2)
        position: relative
        display: flex
        align-items: stretch
        overflow hidden
        height: 48px


        .header-search-input
            width: 100%
            border: none 
            
            padding: 15px
            font-size: 14px
            font-weight: 600
            color:  rgba(0, 0, 0, 0.33);
            border-radius: 10px 0 0 10px
        
        .header-search-button
            background: #fff 
            border: none 
            width: 60px
            // border-left: 1px solid cor[3]

            svg  
                fill: rgba(0, 0, 0, 0.53);


