.single-product

    &.woo-variation-swatches-stylesheet-enabled 
        .customSelect
            display: none
        .product
            .variations
                display: block
                width: 100%
                li
                    flex: 0 0 100%
                    // display: flex
                    >.label 
                        display: block
                        font-weight: 600
                        margin-bottom: 5px

                .variable-items-wrapper 
                    .image-variable-item
                        height: 40px
                        width: 100%
                        justify-content: flex-start
                        img
                            width: auto
                            height: auto
                            max-height: 100%

    .product

        &__card 
            border-radius: 8px
            box-shadow: none


        &__col-1
            border-right: 1px solid rgba(0, 0, 0, 0.05);
            position: relative
        &__col-2
            padding: 30px 40px


        &__image
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            padding: 25px 50px
            .yith-wcwl-add-to-wishlist
                display: none

        .woocommerce-product-gallery
            display: flex
            flex-direction: row-reverse

        .woocommerce-product-gallery__trigger
            display: none

        .flex-control-thumbs
            list-style: none
            flex: 0 0 120px
            margin: 0 30px 0 0
            max-height: 520px;  
            overflow-y: scroll;
            li
                padding: 0
                margin: 0 0 15px
                img
                    border: 1px solid rgba(0,0,0,.05)
                    &.flex-active
                        border-color: cor[0]

        &__description
            font-size: 14px
            line-height: 32px
            color: rgba(0, 0, 0, 0.53)
            padding: 25px

            h2  
                font-size: 18px
                line-height: 37px
                color: rgba(0, 0, 0, 0.73)

            ul  
                list-style: disc
                padding: 0 0 0 15px !important

            // p  
            //     margin: 0 0 40px 0



        &__name
            font-size: 22px
            font-weight: 600
            line-height: 37px
            color: rgba(0, 0, 0, 0.53)

        &__review-top
            margin-bottom: 10px
        &__code
            font-size: 12px;
            line-height: 14px;
            color: rgba(0, 0, 0, 0.33);

        &__installments
            font-size: 14px;
            line-height: 19px;
            color: rgba(48, 48, 48, 0.73);
            display: block

        

        &__price
            font-size: 38px;
            line-height: 52px;
            color: rgba(0, 0, 0, 0.73);

            .price
                del,
                ins
                    display: block
                    line-height: 1em
                del
                    font-size: 18px
                    color: rgba(0,0,0,.3)
                ins
                    color: rgba(0,0,0,.73)
                    font-size: 38px
                    font-weight: normal
                    background: none

        .fswp_installments_price.single
            font-size: 18px;
            margin: 30px 0;
            display: flex
            align-items: flex-start
            line-height: 1em
            svg
                margin: 0 10px 0 0
            .fswp_installment_prefix,
            .woocommerce-Price-amount
                color: cor[0]
                font-weight: 600
            .fswp_installment_suffix
                display: block

        #shipping-calc
            margin: 0 0 30px
            >p
                font-size: 18px!important
                font-weight: 600
                &:after
                    content: 'Calcule seu frete aqui'
                    display: block
                    font-size: 16px
                    font-weight: normal

        &__groupinfo

            
            &-list 
                margin: 20px 0
                >li 
                    position: relative
                    padding: 18px 0
                    >a
                        &:before
                            display: none 

            &--description
                .description-title
                    span 
                        padding: 0 0 0 25px

            &-button
                position: absolute
                top: 0
                bottom: 0
                left: 0
                width: 100%
                z-index: 1
                background: none
                border: none
                // display: none

            &-inner
                display: flex
                align-items: flex-start

                svg  
                    margin: 0 10px 0 0

                &-content
                    font-size: 16px;
                    line-height: 16px
                    color: rgba(0, 0, 0, 0.33);
                    position: relative
                    width: 100%

                    span 
                        display: block
                        font-size: 18px;
                        line-height: 18px
                        color: rgba(0, 0, 0, 0.73);
                        margin:  0 0 10px 0

                    svg  
                        position: absolute
                        right: 0
                        top: 0
                        transform:rotate(-180deg)
                        margin: 0 0 0 0
                        height: 13px
        // .variations
        //     display: flex
        //     align-items: center
        //     justify-content: space-between
        //     flex-wrap: wrap
        //     margin: 0 -5px
        //     li
        //         flex: 0 0 50%
        //         padding: 0 5px
        //     .reset_variations
        //         display: none!important

        .woocommerce-variation
            &-availability
                display: none


        .woocommerce-variation-add-to-cart,
        form.cart
            display: flex
            flex-wrap: wrap

        #cfpp
            flex: 0 0 100%
            display: block!important
            order: 0
            #cfpp_credits
                display: none

            .calculo-de-frete
                display: flex
                justify-content: space-between
                align-items: center
                flex-wrap: wrap
                input[type=text]
                    width: auto!important
                #calcular-frete
                    margin-bottom: 0
                    border-radius: 4px
                    height 50px

        .quantity
            >label
                display: none
            .qty
                width: 60px
                margin: 0 10px 0 0

        .quantity
            order 1

        #wc_quick_buy_hook_10
            order: 2

        .quick_buy_container
            order: 3
            flex: 1 1 auto

            .quick_buy_button
                width: 100%
                height: 48px
                background: cor[0]
                color: #fff
                font-size: 18px
                font-weight: 600
                border: none 
                border-radius: 4px

        button[name=add-to-cart],
        .single_add_to_cart_button
            margin-top: 15px
            flex: 0 0 100%
            background: none
            border: 1px solid cor[0]
            border-radius: 4px
            font-size: 18px
            color: cor[0]
            font-weight: 600
            cursor: pointer
            height 48px
            order: 4
            &.shop_now_button
                background: cor[0]
                color: #fff
                flex: 1 1 auto
                margin-bottom: 10px

        .shop_attributes
            tbody
                display: flex
                align-items: center
                justify-content: space-between
                flex-wrap: wrap
                tr
                    flex: 0 0 33.333333%
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    margin-bottom: 10px
                    th
                        font-size: 14px
                        color: rgba(0,0,0,.33)

.modal__hidden
    display none
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: #fff
    padding: 50px
    border-radius: 5px
    box-shadow: 1px 1px 15px #0000003b
    z-index: 999999

.on__modal-frete
 
    .modal__hidden
        display: block

.title__modal
    display: flex
    align-items: flex-start

    >div
        max-width 80%
        strong 
            display: block
            font-size: 18px

        span
            color: #8c8888

        a#modal__open
            margin: 0
            font-size: 15px

.modal__hidden
    
    strong 
        display: block
        font-size: 18px    

    span
        display: block
        color: #8c8888
        margin-bottom 15px

.close__modal 
    position: absolute
    right: 10px
    top: 10px
    font-size: 20px
    font-weight: 700
    color: #999
    cursor pointer