.social

    display: flex
    align-items: center

    &__list 

        &-link 
            padding: 10px
            svg  
                fill: #ffffff;
                width: 27px
                height 27px
