.banner

    &--full 


        .uk-slidenav
            background: #0000001a
            opacity: 1;
            height: 75px
            width: 75px

            svg  
                width: 30px
                height: 30px

        .uk-slidenav-previous
            left: 5%

        .uk-slidenav-next 
            right: 5%

        li
            img
                width: 100%