.topcart
    .uk-offcanvas-bar
        background: #ffffff
        a,
        *
            color: cor[1]  

    .uk-offcanvas-bar
        @media(min-width 960px)
            width: 500px

    .topcart_header
        h3
            font-size: 27px
            font-weight: 600
            span
                font-size: 22px
                color: #ABABAB

        p
            font-size: 18px
            font-weight: 300

    .cart_list
        position: absolute
        top: 140px
        bottom: 250px
        left: 40px;
        right: 20px;
        padding-top: 10px
        padding-right: 20px;
        overflow-x: hidden
        overflow-y: auto
    
    .mini_cart_item
        padding-bottom: 35px
        margin-bottom: 35px
        border-bottom: 2px solid #EBEBEB
        &:last-child
            margin-bottom: 0
            border-bottom: none
    .items_wrapper
        display: flex
        align-items: center
        .image
            position: relative
            flex: 0 0 100px
            width: 100px
            height 100px
            margin: 0 20px 0 0
            border: 1px solid #E5E5E5

            .remove
                position: absolute
                top: -15px
                right -15px
                width: 32px
                height 32px
                border-radius: 100%
                background: #ffffff
                color: #BBBBBB
                font-size: 26px
                display: flex
                align-items: center
                justify-content: center
                box-shadow: 0 3px 5px 0 rgba(0,0,0,.2)
                &:hover
                    text-decoration: none

        .text
            h4
                font-size: 16px
                font-weight: 600
                color: cor[2]
    .items_total
        display: flex
        justify-content: flex-end
        font-size: 20px
        font-weight: 600
        color: cor[2]
        margin-top: 10px


    .minicart_totals
        position: absolute
        bottom: 0
        right 40px
        left 40px
        padding: 40px 0 30px
        border-top: 2px solid #EBEBEB
        .woocommerce-mini-cart__total
            text-align: center
            margin-bottom: 30px
            strong
                font-size: 18px
                font-weight: normal
            .amount
                font-size: 22px
                color: #1f1f1f
                font-weight: 600

        .woocommerce-mini-cart__buttons
            a
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 10px
                height: 48px
                border-radius: 5px
                font-size: 18px
                color: cor[0]
                border: 2px solid cor[0]

                &.checkout
                    background: cor[0]
                    border: none 
                    color: #ffffff
