.brands 
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    // padding-bottom: 30px
    .uk-container
        padding: 0 0 0 0

    .menu-image-title
        display: none;

    &__title
        text-transform: uppercase
        margin: 0 0 30px 0
        padding: 0 15px
        font-size: 19px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.53);