.idea
.idea/*

**/.sass-cache
**/.sass-cache/*
tasks/node_modules
tasks/node_modules/*
tasks/package-lock.json

**/*.log

vendor/thanks-to-it/color-or-image-variation-swatches-for-woocommerce/wporg_assets
vendor/thanks-to-it/color-or-image-variation-swatches-for-woocommerce/wporg_assets/*

vendor/thanks-to-it/color-or-image-variation-swatches-for-woocommerce/.git
vendor/thanks-to-it/color-or-image-variation-swatches-for-woocommerce/.git/*

vendor/pablo-pacheco/wc-custom-settings-options/.git
vendor/pablo-pacheco/wc-custom-settings-options/.git/*

vendor/cmb2/

vendor/cmb2/cmb2/.git
vendor/cmb2/cmb2/.git/*
vendor/cmb2/cmb2/languages
vendor/cmb2/cmb2/languages/*
vendor/cmb2/cmb2/tests
vendor/cmb2/cmb2/tests/*
vendor/cmb2/cmb2/*.clover

!vendor/cmb2/languages/*.pot