.woocommerce-order
    max-width 980px
    display: block
    margin: 0 auto 40px
    padding: 30px
    background: #ffffff
    border-radius: 5px

    h2
        font-size: 16px
        font-weight: 600
        margin-bottom: 10px

    .woocommerce-thankyou-order-received
        font-size: 22px
        text-align: center
        margin-bottom: 30px

    .order_details
        margin-bottom: 30px
        padding-bottom: 30px
        border-bottom: 1px solid cor[3] 
        width: 100%

    .custom-fields
        display: none

    .woocommerce-order-details
        >h2:nth-child(3)
            display: none

    