.footer
    
    &__list 

        &-title 
            font-size: 18px
            color: #fff 
            font-weight: 600
            margin: 0 0 30px 0


        &-link 
            font-size: 16px
            color: #fff
            display: block
            padding: 5px 0

    &__section
        &--first
            background: cor[1]

        &--second
            background: #fff



    &__copyright 
        color: cor[2]
        font-size: 14px;
